*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}

#caja{
	width: 200px;
	height: 100px;
	background: blue;
	cursor: pointer;
}

<<<<<<< HEAD
.cajas{
	position: relative;
	width: 100px;
	height: 100px;
	background: green;
	margin: 20px;
	cursor: pointer;
}

=======
>>>>>>> origin/master
input{
	padding: 10px;
}

button{
	padding: 10px;
<<<<<<< HEAD
=======
}

#caja2{

	position: relative;
	width: 50px;
	height: 50px;
	background: yellow;
	cursor: pointer;
>>>>>>> origin/master
}